

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.deplay-laravel/data

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached


### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### PHP #################################################

PHP_VERSION=8.1

PHP_INSTALL_BCMATH=true
PHP_INSTALL_MYSQLI=true
PHP_INSTALL_INTL=true
PHP_INSTALL_IMAGEMAGICK=true
PHP_IMAGEMAGICK_VERSION=latest
PHP_INSTALL_OPCACHE=true
PHP_INSTALL_IMAGE_OPTIMIZERS=true
PHP_INSTALL_PHPREDIS=true
PHP_INSTALL_MEMCACHED=true

### MYSQL #################################################

MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### NGINX #################################################

NGINX_HOST_HTTP_PORT=8088
NGINX_HOST_HTTPS_PORT=4430
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_PHP_UPSTREAM_CONTAINER=php
NGINX_PHP_UPSTREAM_PORT=9000

### MYREDISSQL #################################################

REDIS_PORT=6379
REDIS_PASSWORD=secret_redis